
header{
    background-color: #00abdf;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    div{
        padding-top: 20px;
        padding-bottom: 20px;
        display: inline-block;    
    }

    #nome{
        width: (4/6)*100%;
        text-align: center;
        a{
            text-decoration: none;
            color: #fff;
            font-weight: normal;
        }
    }
    
    #carrinho{
        width: (1/6)*100%;
        text-align: right;
        div{
            padding-right: 20px;
        }
    }
    
    #logo{
        width: (1/6)*100%;
        text-align: left;
        div{
            padding-left: 20px;
        }
    };
}