@import '../../../styles.scss';

@include mat-core();
@include mat-table-theme($my-app-theme);

.flex {
    display: flex;
}

.lista-compras {
    width: auto;
    margin: 20px;
}

.resumo-compras {
    position: fixed;
    width: 20%;
    margin: 20px;
}

.qnt-select {
    width: 60px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.mat-cell {
    padding: 15px;
}

.text-right {
    text-align: right;
}