<h1 mat-dialog-title>{{item.nome}}</h1>
<div mat-dialog-content>

  <div class="izquierdo">
    <img [src]="item.imgPath">
    <p>Qantidade: </p>
    <mat-select
    [(value)]="item.quantidade"
    (selectionChange)="changeItemQnt($event.value);"
  >
    <mat-option
      *ngFor="let num of estoqueQnt()"
      [value]="num"
    >
      {{ num }}
    </mat-option>
  </mat-select>
  <p>Valor:</p>
  <p>R$ {{item.total}}</p>
  </div>
  
  
  <div class="derecho">
    <h2>Caracteristicas:</h2>
    <ul *ngFor="let caracteristicas of item.caracteristcas">
      <li>
        <span >{{caracteristicas}}</span>
      </li>
    </ul>
  </div>
</div>
<div mat-dialog-actions class="derecho">
  <button mat-raised-button (click)="onNoClick()" color="warn">Fechar</button>
  <button mat-raised-button [mat-dialog-close]="item.quantidade" (click)="gotoCart()" color="accent">C O M P R A R</button>
</div>