<h1 mat-dialog-title>{{data.nombre}}</h1>
<div mat-dialog-content>

  <div class="izquierdo">
    <img src="assets/img/estetoscopio.jpg">
  </div>


  <div class="derecho">
    <h1>ESTETOSCOPIO MODELO HSCJK382</h1>
    <h2>COM PRESCICION 32783mm</h2>
    <br />
    <h2>Caracteristicas:</h2>
      <ul>
        <li>
          <span *ngIf="data.producto === 'cureta'">&#10003;</span> Lente 323c optimizada flex xhsy
        </li>
        <li>
          <span *ngFor="let usuario of data">{{data.producto}}</span> 35mm de precision
        </li>
        <li>
          <span *ngIf="data.producto === 'oximetro'">&#10003;</span>etc etc
        </li>
      </ul>
      <p>Indique la cantidad: </p>
     <mat-form-field>
         <input matInput [(ngModel)]="data.producto">
     </mat-form-field>
  <div mat-dialog-actions>
          <button mat-button (click)="onNoClick()">CERRAR</button>
          <button mat-button [mat-dialog-close]="data.producto" (click)="ontoCart()" cdkFocusInitial>C O M P R A R</button>
  </div>
  </div>