div { button{
    background:rgb(255, 145, 1);
    color:#fff;
    width:400px;
    }
}
.izquierdo{
    float: left;
    width:300px;

}
.derecho{
    float: right;
    width: 400px;
}
h1{
    font-size: 14pt; 
}
h2{
    font-size: 12pt;
}
