.botones button{
    background:rgb(255, 145, 1);
    color:#fff;
    width:600px;
}
.izquierdo{
    float: left;
    width:300px;

}
.derecho{
    float: right;
    width: 400px;
}
h1{
    font-size: 14pt; 
}
h2{
    font-size: 12pt;
}
/*button{
    color:rgb(129, 125, 125);
    top:30%;
    left:30%;
    width: 25px;    
    height: 25px;
    float:left;
}*/