@import "../../../styles.scss";

a, a::after, a:default{
    text-decoration: none;
    color: #333;
}
a:hover{
    
}

a h1{
    font-size: 1em;
}

.carrosselItemProduto{
    width: 200px;
    padding: 20px;
    h1{
        height: 4em;
        overflow: hidden;
    }
}

.carrosselItemProduto:hover{
    box-shadow: 3px 3px 3px 3px mat-color($mat-indigo, $primary-dark);
    color: mat-color($my-app-primary);
    background-color: mat-color($mat-indigo, $primary-light);
    
    h1{
        text-decoration: underline;
    }
}