@import '../../../styles.scss';

@include mat-core();
@include mat-table-theme($my-app-theme);

.lista-compras {
    width: auto;
    margin: 20px;
}

picture {
    padding: 5px;
}

a {
    display: flex
}

p {
    align-self: center;
}

.qnt-select {
    width: 60px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.mat-cell {
    padding: 15px;
}

.text-right {
    text-align: right;
}
