<table mat-table [dataSource]="dataSource" class="lista-compras">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Produto">
    <th mat-header-cell *matHeaderCellDef>Produto</th>
    <td mat-cell *matCellDef="let element">
      <picture>
        <img [src]="element.imgPath" alt="product" style="height:120px" />
      </picture>
      {{ element.nome }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Quantidade">
    <th mat-header-cell *matHeaderCellDef>Quantidade</th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field>
        <mat-select [(value)]="element.quantidade">
          <mat-option
            *ngFor="let num of estoqueQnt(element.estoque)"
            [value]="num"
          >
            {{ num }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="PrecoUnit">
    <th mat-header-cell *matHeaderCellDef>Preço Unitário</th>
    <td mat-cell *matCellDef="let element">{{ element.precoUnit }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Total">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let element">{{ element.total }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
