/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-default: 500;
$primary-light: 50;
$primary-dark: 200;
$my-app-primary: mat-palette($mat-indigo, $primary-default, $primary-light, $primary-dark);
$my-app-primary-light: mat-palette($mat-indigo);
$my-app-accent:  mat-palette($mat-teal);

// The warn palette is optional (defaults to red).
$my-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-app-theme);
// @include my-app-theme($my-app-theme);

//Fonte para utilização no site
@import url('https://fonts.googleapis.com/css?family=Aleo|Cinzel|Libre+Baskerville|Montserrat|Raleway|Roboto+Mono|Source+Sans+Pro');

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Aleo', serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Libre Baskerville', serif;
    // font-family: 'Cinzel', serif;
}